.itemBox {
  border: 5px solid rgb(56, 27, 170);
  max-width: 230px;
  margin: 10px;
}

.scrollBox {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 200px;
}

.itemBox {
  width: calc(20% - 20px);
}

h1 {
  text-align: center;
}